body {background-color:#222244;
background-image: url("img/NFT322.png");
background-attachment:fixed;
background-size:cover;
background-repeat:no-repeat}
p {font-size:20px;
	font-family:didot;
	font-weight:900;
	border-radius:10px;
	padding-left:20px;
	padding-right:20px;
	margin-top:30px;
	--background-color:#222244;
	color:#FFFF88;
	opacity:1;
	--width:fit-content;
	text-align:center;
	align-self:center;
	filter:drop-shadow(3px 3px 3px #111);}
audio {margin-left:100px;
width:1500px;
height:40px;}
audio::-webkit-media-controls-panel {background-color:white;}
audio:hover {transform: scale(1.001);
filter: drop-shadow(2px 3px 3px #333);}
audio:focus::-webkit-media-controls-panel {background-color:#DDDDFF;
color:white;}
audio:hover::-webkit-media-controls-play-button {filter:drop-shadow(2px 3px 3px #333);}
audio::-webkit-media-controls-play-button {background-color:#9999BB;
border-radius:100px;
width:20px}
audio::-webkit-media-controls-timeline {padding-left:400px;width:100px}
--audio:focus{
transform:rotate(-90deg);
position:fixed;
top:400px;
left:1200px;
width:800px;
background-color:red;}